<!DOCTYPE html>
<html lang="ru" class="fz-lg-875">
<head>
    <meta charset="utf-8">
        <title>Тьерри - Сеть лучших французских пекарен-кондитерских в Минске | Доставка Выпечки</title>
    
    <link rel="stylesheet" href="project/build/css/main.min.css">
</head>
<body class="lh-14 ff-1 fc-1 bgc-1">


    <header class="header">
    <div class="nav-bar ptb-125 ptm-md-100 container-fluid">
        <div class="row no-gutters">
            <div class="left-part mr-375">
                <div class="left-part--wrapper h-100p d-flex align-items-center">
                    <a href="" aria-label="Drazhin.by логотоп">
                        <svg class="svg svg-logo min-w-400 fz-md-350 min-w-md-350">
                            <use xlink:href="project/build/img/logo-dark.svg"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="menu d-none d-lg-flex align-content-center">
                <ul class="main-nav lst-none mb-0 p-0 d-flex align-items-center"><li class="main-nav__item main-nav__parent-item">
                    <div class="d-flex align-items-center fc-1 fz-100 ptb-50 tt-u ls-0 h-fc-acc-1 mr-125 cur-p first">
                        <span class="mr-25">Наше меню</span>
                        <svg class="svg svg-arrow-expand fz-50">
                            <use xlink:href="project/build/svg-sprite/sprite.svg#arrow-expand"></use>
                        </svg>
                    </div>
                    <ul class="sub-menu box-shadow bgc-wh br-50 lst-none m-0 plr-125 ptb-100">
                    <li class="sub-menu__item ws-nw pb-50 mb-50">
                    <a href="" class="d-flex align-items-center h-fc-acc-1 first">
                        <span class="fz-100 fc-1 h-fc-acc-1">Хлеб</span>
                    </a>
                </li><li class="sub-menu__item ws-nw pb-50 mb-50">
                    <a href="" class="d-flex align-items-center h-fc-acc-1 ">
                        <span class="fz-100 fc-1 h-fc-acc-1">Кондитерские изделия</span>
                    </a>
                </li><li class="sub-menu__item ws-nw pb-50 mb-50">
                    <a href="" class="d-flex align-items-center h-fc-acc-1 ">
                        <span class="fz-100 fc-1 h-fc-acc-1">Выпечка</span>
                    </a>
                </li><li class="sub-menu__item ws-nw pb-50 mb-50">
                    <a href="" class="d-flex align-items-center h-fc-acc-1 ">
                        <span class="fz-100 fc-1 h-fc-acc-1">Завтраки и ланчи</span>
                    </a>
                </li><li class="sub-menu__item ws-nw pb-50 mb-50">
                    <a href="" class="d-flex align-items-center h-fc-acc-1 ">
                        <span class="fz-100 fc-1 h-fc-acc-1">Торты и тарты</span>
                    </a>
                </li><li class="sub-menu__item ws-nw pb-50 mb-50">
                    <a href="" class="d-flex align-items-center h-fc-acc-1 mr-0">
                        <span class="fz-100 fc-1 h-fc-acc-1">Кофе и напитки</span>
                    </a>
                </li></ul></li>
                <li class="main-nav__item d-inline-block"><a href="" class="fc-1 fz-100 ptb-50 tt-u ls-0 h-fc-acc-1 mr-150 ">О компании</a></li>
                <li class="main-nav__item d-inline-block"><a href="" class="fc-1 fz-100 ptb-50 tt-u ls-0 h-fc-acc-1 mr-150 ">Вакансии</a></li>
                <li class="main-nav__item d-inline-block"><a href="" class="fc-1 fz-100 ptb-50 tt-u ls-0 h-fc-acc-1 mr-150 ">Доставка</a></li>
                <li class="main-nav__item d-inline-block"><a href="" class="fc-1 fz-100 ptb-50 tt-u ls-0 h-fc-acc-1 mr-150 mr-0">Контакты</a>                </li></ul>            </div>
            <div class="right-part d-flex flex-1 align-items-center justify-content-end">
                    <div class="d-none d-lg-flex dec-line-left dec-color-acc-3"><a href="" class="d-flex justify-content-end align-content-center  h-fc-acc-1 align-items-center pl-125 ptb-25 first">
                        <svg class="svg svg-pin fz-175 mr-50">
                            <use xlink:href="project/build/svg-sprite/sprite.svg#pin"></use>
                        </svg>
                        <span class="fz-100 tt-u fc-1">Наши заведения</span>
                    </a></div>                <div class="burger-wrapper d-lg-none cur-p ml-100 ml-sm-50">
                    <svg class="svg svg-burger">
                        <use xlink:href="project/build/svg-sprite/sprite.svg#burger"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="page-wrapper">


<section id="mainslide" class="mainslide ptb-300 ptb-sm-200 ovfl-h">
    <!-- BEGIN mainslide-center-part -->
    <div class="mainslide-center-part">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-5 pb-900 pb-sm-300">
                    <h1 class="d-inline-block fz-950 fz-md-800 fz-xs-450 tt-u lh-10 mt-300 mb-400 mb-md-200">Тьерри</h1>
                    <p class="fz-125 lh-15 pt-125 dec-line-top-medium dec-color-acc-1 pr-300 pr-md-0 mb-300">
                        Тьерри&nbsp;&mdash; это не&nbsp;только пекарня&nbsp;&mdash; кондитерская, но&nbsp;и&nbsp;кафе во&nbsp;французском стиле. Сюда можно прийти на&nbsp;обед, попробовать крем-суп либо киш, а&nbsp;также посидеть с&nbsp;друзьями за&nbsp;чашкой кофе с&nbsp;десертом.<br></br>Вы&nbsp;можете попробовать всю нашу продукцию в&nbsp;любой пекарне&nbsp;&mdash; кондитерской ТЬЕРРИ или заказать доставку прямо домой или офис. Готовим с любовью для вас уже {{ age }} {{ year_form }}.</p>
                </div>
                <div class="d-none d-md-block col-md-5">
                    <div class="pos-r w-100p h-100p">
                        <div class="mainslide__bcg--image pos-a trbl-0 zi--1">
                            <picture>
                                <img class=" of-c w-100p h-100p" src="./project/build/img/hleb.webp" width="1600" height="800" alt="Тьерри - Сеть французских пекарен-кондитерских">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-slide-bcg">
        <img src="project/build/img/kruasan.svg"
            alt="Тьерри - Сеть французских пекарен-кондитерских Декор Круассан" class=""
            width="440" height="260">
    </div>
</section>












<section id="mainmenu" class="mainmenu ptb-400 pt-sm-200 pb-sm-200">
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-12 section-title text-center mb-5">
            <h2 class="d-block"> Наша продукция</h2>
            <p>Выпечка и десерты — это не просто еда, это поэзия вкуса, искусство, сотканное из ароматов, тепла и заботы. С древних времён, с первого очага, где человек научился превращать простое тесто в хлеб, началась история кулинарного чуда, которое согревает сердца и объединяет поколения.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 section-title text-center mb-5">
            {% for category, bakeries in bakeries_products.items() %}
            <h2 class="d-block">{{category}}</h2>
            <div class="row">
              {% for item in bakeries %}
              <div class="col-lg-4 mb-5 col-md-6">
                <div class="wine_v_1 text-center pb-4 pt-5">
                  <img src="project/build/img/{{ item.Картинка }}" alt="Image" class="img-fluid" width="350" height="280"> {% if item.Акция %}
                  <img src="project/build/img/profitable.png" style="width:10rem;height: 10rem;position:absolute;right: -20px;top: -20px;"> {% endif %}
                  <div>
                    <h3 class="heading mt-3 mb-3 text-dark">{{ item.Название }}</h3>
                    <p>
                      {% if item.Сорт_муки %} Сорт муки - {{ item.Сорт_муки }}
                      <br/> {% endif %}
                      <span class="price">{{ item.Цена }} р.</span>
                    </p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</section>









<div class="about-section ptb-400 ptb-sm-400 bgc-1 pos-r">
    <div class="container-fluid">
        <div class="row d-flex flex-md-row-reverse">
            <div class="col-md-7 mb-sm-400">
                <h2
                    class="about-section__title ff-2 fz-200 fz-md-175 fw-600 pt-150 mb-200 mb-sm-150 ls-0 dec-line-top-medium dec-color-acc-1">
                    Концепция Тьерри</h2>
                <div class="about-section__text mb-175 mb-sm-75 pl-200 pl-sm-150 pr-200 pr-sm-0 ptb-1125 ptb-sm-875 pos-r">
                    <svg class="svg svg-quote pos-a t-0 l-0">
                        <use xlink:href="project/build/svg-sprite/sprite.svg#quote"></use>
                    </svg>
                    <p class="fz-125 fw-600 mb-0 pos-r zi-1">
                    Успешное дело начинается с мысли. Мысли сделать мир лучше, добрее, слаще. Именно такая мысль натолкнула Тьерри Лаурэя на создание французской пекарни-кондитерской.                    </p>
                </div>
                <div class="pl-400 pl-sm-0">
                    <p class="about-section__descr fz-1125 mb-0 pr-600 pr-sm-0">
                        Философия Тьерри состоит из трех важных пунктов: подлинность, терпение и творческий подход. Десерты, выпечка и продукты создаются без каких-либо компромиссов. Каждый продукт, который вы покупаете, — это высокое качество, уважение к традициям и любовь к кулинарному ремеслу.                         </p>
                </div>
            </div>
            <div class="col-md-5 pos-r">
                <div class="row h-100p">
                    <div class="col-10 pb-500 pb-md-200">
                        <picture>
                            <img src="./project/build/img/about-1.webp"
                                alt="Тьерри - Сеть французских пекарен-кондитерских Главная"
                                class="w-100p h-100p of-c h-auto" width="450" height="490">
                        </picture>
                    </div>
                    <div class="col-10 offset-2 pos-a b-0 l-0">
                        <picture>
                            <img src="./project/build/img/about-2.webp"
                                alt="Тьерри - Сеть французских пекарен-кондитерских Главная"
                                class="w-100p h-100p of-c h-auto" width="450" height="290">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</main>
<script src="project/build/js/scripts.min.js"></script>
</body>

</html>